.blue{
	background-color:Blue;
	color:White;
	border-radius:10px;
	width:150px;
	height:250px;
	border:thin solid black;
	margin:20px;
	text-align:center;
	display:inline-block;
	
	
}



.yellow{
	background-color:yellow;
	color:Black;
	border-radius:10px;
	width:150px;
	height:250px;
	border:thin solid black;
	margin:20px;
		text-align:center;
		display:inline-block;
		
		
	
}

.green{
	background-color:Green;
	color:Black;
	border-radius:10px;
	width:150px;
	height:250px;
	border:thin solid black;
	margin:20px;
		text-align:center;
		display:inline-block;
}

.red{
	background-color:red;
	color:Black;
	border-radius:10px;
	width:150px;
	height:250px;
	border:thin solid black;
	margin:20px;
		text-align:center;
		display:inline-block;
		
		
	
}

.black{
	background-color:black;
	color:White;
	border-radius:10px;
	width:150px;
	height:250px;	
	border:thin solid black;
	margin:20px;
	text-align:center;
	display:inline-block;	
	
		
}

.div_hand{
	
	border:solid black 2px;
	position:fixed;
	background-color:#c5972e;
	margin:0% 15% 0% 15%;
	width:70%;
	display:block;
	bottom:0px;
	padding:auto;
	border-radius:10px;
	
}

body{
	width:100%;
	position:relative;
}

.div_stapel{
	position:relative;
	right:20px;
	top:20px;
	background-color:#c80000;
	Border:solid black 2px;
	display:block;
	width:150px;
	color:black;
	height:250px;
	float:right;
	border-radius:10px;
	text-align:center;
}

.div_deck{
	position:relative;
	left:20px;
	top:20px;
	background-color:#29a9e0;
	Border:solid black 2px;
	display:block;
	width:150px;
	height:250px;
	float:left;
	border-radius:10px;
}


